@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:poppins, sans-serif;
}

.register .register-wrap {
    /* background-color: yellow; */
    height: 97vh;
}

.register .register-wrap .register-top  {
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.5rem;

}

.register .register-wrap .register-top p {
    color: white;
}

.register .register-wrap .register-top .register-top-wrap {
    /* background-color: aqua; */
    display: flex;
    gap: 2rem;
}

.register .register-wrap .register-blog {
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
}



.register .register-wrap .register-form {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.register .register-wrap .register-buttom {
    background-color: rgb(36, 36, 36);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .register-wrap .register-buttom p {
    color: white;
}

.register .register-wrap .register-wrap-2 {
    /* background-color: aqua; */
    height: 70vh;
    display: grid;
    
    align-items: end;
}


